# Ignore Git files and Docker configs
.git
.gitignore
Dockerfile*

# Environment variables
.env
*.env

# Dependencies and caches
**/node_modules
__pycache__
*.pyc

# Build outputs and tests
dist
build
tests
coverage

# Project-specific directories
storage/
backend/venv
backend/.venv
web/dist
web/build

# Logs
*.log
