######################################################
# Environment files
.env
*.env

# Dependencies and build outputs
node_modules
dist
build

# Tests and coverage
tests
coverage
**/.pytest_cache

# Git and docker files
.git
.gitignore
Dockerfile.dev
Dockerfile.local

# Logs
npm-debug.log*
*.log

# IDE and system files
.vscode
*.DS_Store
